In [ ]:
# SAN FRANCISCO CRIMES ANALYSIS

Views:
1 Crimes por categoria (qtdd)
2  Crimes por bairro (qtdd)
3  Crimes por semana (qtdd)
4  Taxa de solução por crime (prisão)
5  Crimes por horário e bairro (qtdd)
6  Crimes por rua e horário 
7  Local da cidade com mais crimes

# Importando a base

In [2]:
import pandas as pd

In [16]:
ls

 O volume na unidade C nÆo tem nome.
 O N£mero de S‚rie do Volume ‚ 8285-26B3

 Pasta de C:\Users\scarlet\Projetos Python\San Francisco Crimes

21/11/2022  22:16    <DIR>          .
21/11/2022  22:16    <DIR>          ..
21/11/2022  21:01    <DIR>          .ipynb_checkpoints
21/11/2022  22:16            13.499 San Francisco Crimes.ipynb
               1 arquivo(s)         13.499 bytes
               3 pasta(s)   27.288.162.304 bytes dispon¡veis

In [75]:
dados = pd.read_csv('crime.csv')
dados

,IncidntNum,Category,Descript,DayOfWeek,Date,Time,PdDistrict,Resolution,Address,X,Y,Location,PdId
0,120058272,WEAPON LAWS,POSS OF PROHIBITED WEAPON,Friday,01/29/2016 12:00:00 AM,11:00,SOUTHERN,"ARREST, BOOKED",800 Block of BRYANT ST,-122.403405,37.775421,"(37.775420706711, -122.403404791479)",12005827212120
1,120058272,WEAPON LAWS,"FIREARM, LOADED, IN VEHICLE, POSSESSION OR USE",Friday,01/29/2016 12:00:00 AM,11:00,SOUTHERN,"ARREST, BOOKED",800 Block of BRYANT ST,-122.403405,37.775421,"(37.775420706711, -122.403404791479)",12005827212168
2,141059263,WARRANTS,WARRANT ARREST,Monday,04/25/2016 12:00:00 AM,14:59,BAYVIEW,"ARREST, BOOKED",KEITH ST / SHAFTER AV,-122.388856,37.729981,"(37.7299809672996, -122.388856204292)",14105926363010
3,160013662,NON-CRIMINAL,LOST PROPERTY,Tuesday,01/05/2016 12:00:00 AM,23:50,TENDERLOIN,NONE,JONES ST / OFARRELL ST,-122.412971,37.785788,"(37.7857883766888, -122.412970537591)",16001366271000
4,160002740,NON-CRIMINAL,LOST PROPERTY,Friday,01/01/2016 12:00:00 AM,00:30,MISSION,NONE,16TH ST / MISSION ST,-122.419672,37.765050,"(37.7650501214668, -122.419671780296)",16000274071000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
150495,161061000,ASSAULT,BATTERY,Friday,12/30/2016 12:00:00 AM,21:01,PARK,NONE,OAK ST / STANYAN ST,-122.453982,37.771428,"(37.7714278595913, -122.453981622365)",16106100004134
150496,176000742,NON-CRIMINAL,LOST PROPERTY,Friday,12/30/2016 12:00:00 AM,08:00,CENTRAL,NONE,JACKSON ST / SANSOME ST,-122.401857,37.796626,"(37.7966261239618, -122.401857374739)",17600074271000
150497,176000758,LARCENY/THEFT,PETTY THEFT OF PROPERTY,Thursday,12/29/2016 12:00:00 AM,20:00,CENTRAL,NONE,PINE ST / TAYLOR ST,-122.412269,37.790673,"(37.7906727649886, -122.41226909106)",17600075806372
150498,176000764,LARCENY/THEFT,GRAND THEFT OF PROPERTY,Friday,12/30/2016 12:00:00 AM,10:00,CENTRAL,NONE,200 Block of STOCKTON ST,-122.406659,37.788275,"(37.7882745285785, -122.406658711008)",17600076406374
150499,179002868,OTHER OFFENSES,"FRAUDULENT GAME OR TRICK, OBTAINING MONEY OR P...",Friday,12/02/2016 12:00:00 AM,14:00,SOUTHERN,NONE,800 Block of BRYANT ST,-122.403405,37.775421,"(37.775420706711, -122.403404791479)",17900286809024

In [76]:
dados.shape

(150500, 13)

In [30]:
dados.info

<bound method DataFrame.info of         IncidntNum        Category  \
0        120058272     WEAPON LAWS
1        120058272     WEAPON LAWS
2        141059263        WARRANTS
3        160013662    NON-CRIMINAL
4        160002740    NON-CRIMINAL
...            ...             ...
150495   161061000         ASSAULT
150496   176000742    NON-CRIMINAL
150497   176000758   LARCENY/THEFT
150498   176000764   LARCENY/THEFT
150499   179002868  OTHER OFFENSES

                                                 Descript DayOfWeek  \
0                               POSS OF PROHIBITED WEAPON    Friday
1          FIREARM, LOADED, IN VEHICLE, POSSESSION OR USE    Friday
2                                          WARRANT ARREST    Monday
3                                           LOST PROPERTY   Tuesday
4                                           LOST PROPERTY    Friday
...                                                   ...       ...
150495                                            BATTERY    Friday
150496                                      LOST PROPERTY    Friday
150497                            PETTY THEFT OF PROPERTY  Thursday
150498                            GRAND THEFT OF PROPERTY    Friday
150499  FRAUDULENT GAME OR TRICK, OBTAINING MONEY OR P...    Friday

                          Date   Time  PdDistrict      Resolution  \
0       01/29/2016 12:00:00 AM  11:00    SOUTHERN  ARREST, BOOKED
1       01/29/2016 12:00:00 AM  11:00    SOUTHERN  ARREST, BOOKED
2       04/25/2016 12:00:00 AM  14:59     BAYVIEW  ARREST, BOOKED
3       01/05/2016 12:00:00 AM  23:50  TENDERLOIN            NONE
4       01/01/2016 12:00:00 AM  00:30     MISSION            NONE
...                        ...    ...         ...             ...
150495  12/30/2016 12:00:00 AM  21:01        PARK            NONE
150496  12/30/2016 12:00:00 AM  08:00     CENTRAL            NONE
150497  12/29/2016 12:00:00 AM  20:00     CENTRAL            NONE
150498  12/30/2016 12:00:00 AM  10:00     CENTRAL            NONE
150499  12/02/2016 12:00:00 AM  14:00    SOUTHERN            NONE

                         Address           X          Y  \
0         800 Block of BRYANT ST -122.403405  37.775421
1         800 Block of BRYANT ST -122.403405  37.775421
2          KEITH ST / SHAFTER AV -122.388856  37.729981
3         JONES ST / OFARRELL ST -122.412971  37.785788
4           16TH ST / MISSION ST -122.419672  37.765050
...                          ...         ...        ...
150495       OAK ST / STANYAN ST -122.453982  37.771428
150496   JACKSON ST / SANSOME ST -122.401857  37.796626
150497       PINE ST / TAYLOR ST -122.412269  37.790673
150498  200 Block of STOCKTON ST -122.406659  37.788275
150499    800 Block of BRYANT ST -122.403405  37.775421

                                     Location            PdId
0        (37.775420706711, -122.403404791479)  12005827212120
1        (37.775420706711, -122.403404791479)  12005827212168
2       (37.7299809672996, -122.388856204292)  14105926363010
3       (37.7857883766888, -122.412970537591)  16001366271000
4       (37.7650501214668, -122.419671780296)  16000274071000
...                                       ...             ...
150495  (37.7714278595913, -122.453981622365)  16106100004134
150496  (37.7966261239618, -122.401857374739)  17600074271000
150497   (37.7906727649886, -122.41226909106)  17600075806372
150498  (37.7882745285785, -122.406658711008)  17600076406374
150499   (37.775420706711, -122.403404791479)  17900286809024

[150500 rows x 13 columns]>

In [34]:
dados.dtypes

IncidntNum      int64
Category       object
Descript       object
DayOfWeek      object
Date           object
Time           object
PdDistrict     object
Resolution     object
Address        object
X             float64
Y             float64
Location       object
PdId            int64
dtype: object

# 1 Crimes por categoria

In [100]:
crime_cat = dados[['IncidntNum', 'Category']].groupby('Category').count().reset_index().sort_values('IncidntNum', ascending=False)
crime_cat.columns = ['Category', 'Count']
crime_cat = crime_cat.reset_index(drop=True)
crime_cat

                       Category  Count
0                 LARCENY/THEFT  40409
1                OTHER OFFENSES  19599
2                  NON-CRIMINAL  17866
3                       ASSAULT  13577
4                     VANDALISM   8589
5                 VEHICLE THEFT   6419
6                      WARRANTS   5914
7                      BURGLARY   5802
8                SUSPICIOUS OCC   5782
9                MISSING PERSON   4338
10                DRUG/NARCOTIC   4243
11                      ROBBERY   3299
12                        FRAUD   2635
13              SECONDARY CODES   1841
14                     TRESPASS   1812
15                  WEAPON LAWS   1658
16       SEX OFFENSES, FORCIBLE    940
17              STOLEN PROPERTY    882
18            RECOVERED VEHICLE    736
19           DISORDERLY CONDUCT    658
20                 PROSTITUTION    641
21       FORGERY/COUNTERFEITING    619
22                  DRUNKENNESS    465
23  DRIVING UNDER THE INFLUENCE    378
24                        ARSON    286
25                   KIDNAPPING    257
26                 EMBEZZLEMENT    168
27                  LIQUOR LAWS    156
28                      RUNAWAY    140
29                      SUICIDE     69
30                      BRIBERY     66
31                    EXTORTION     60
32              FAMILY OFFENSES     53
33                    LOITERING     42
34   SEX OFFENSES, NON FORCIBLE     40
35                   BAD CHECKS     34
36                     GAMBLING     20
37      PORNOGRAPHY/OBSCENE MAT      4
38                         TREA      3

In [66]:
crime_types = pd.DataFrame(dados['Category'].unique())

                              0
0                   WEAPON LAWS
1                      WARRANTS
2                  NON-CRIMINAL
3                       ASSAULT
4                OTHER OFFENSES
5                MISSING PERSON
6                 LARCENY/THEFT
7                      BURGLARY
8               STOLEN PROPERTY
9                       ROBBERY
10                        FRAUD
11                DRUG/NARCOTIC
12                VEHICLE THEFT
13            RECOVERED VEHICLE
14                    VANDALISM
15                        ARSON
16                 PROSTITUTION
17              SECONDARY CODES
18               SUSPICIOUS OCC
19                  DRUNKENNESS
20                     TRESPASS
21   SEX OFFENSES, NON FORCIBLE
22       SEX OFFENSES, FORCIBLE
23                      RUNAWAY
24                   KIDNAPPING
25           DISORDERLY CONDUCT
26  DRIVING UNDER THE INFLUENCE
27       FORGERY/COUNTERFEITING
28                 EMBEZZLEMENT
29                      BRIBERY
30              FAMILY OFFENSES
31                     GAMBLING
32                      SUICIDE
33                  LIQUOR LAWS
34                    EXTORTION
35                    LOITERING
36                         TREA
37                   BAD CHECKS
38      PORNOGRAPHY/OBSCENE MAT

# 2 Total de crimes por bairro

In [121]:
crime_dis = dados[['IncidntNum', 'PdDistrict']].groupby('PdDistrict').count().sort_values('IncidntNum', ascending=False)
crime_dis = crime_dis.reset_index(drop=False)
crime_dis

   PdDistrict  IncidntNum
0    SOUTHERN       28445
1    NORTHERN       20100
2     MISSION       19503
3     CENTRAL       17666
4     BAYVIEW       14303
5   INGLESIDE       11594
6     TARAVAL       11325
7  TENDERLOIN        9942
8    RICHMOND        8922
9        PARK        8699

# 2.1 Crimes que mais ocorrem em cada bairro

# 3 Crimes por dia da semana

In [189]:
crime_day = dados[['IncidntNum', 'DayOfWeek', 'Category']].groupby(['DayOfWeek']).count()
crime_day = crime_day.reset_index(drop=False)
crime_day

   DayOfWeek  IncidntNum  Category
0     Friday       23371     23371
1     Monday       20783     20783
2   Saturday       22172     22172
3     Sunday       20205     20205
4   Thursday       21395     21395
5    Tuesday       21242     21242
6  Wednesday       21332     21332

# 3.1 Crimes mais ocorridos por dia da semana

In [182]:
dados[['Category', 'DayOfWeek', 'IncidntNum']].groupby(['Category', 'DayOfWeek']).count()

                       IncidntNum
Category    DayOfWeek
ARSON       Friday             39
            Monday             46
            Saturday           46
            Sunday             29
            Thursday           46
...                           ...
WEAPON LAWS Saturday          200
            Sunday            246
            Thursday          227
            Tuesday           222
            Wednesday         269

[265 rows x 1 columns]

# 4 Total de prisões por categoria de crime (prisão)

In [181]:
dados[['IncidntNum', 'Category', 'Resolution']].groupby(['Category', 'Resolution']).count()

                                                    IncidntNum
Category    Resolution
ARSON       ARREST, BOOKED                                  73
            ARREST, CITED                                    1
            EXCEPTIONAL CLEARANCE                            1
            JUVENILE BOOKED                                  4
            NONE                                           206
...                                                        ...
WEAPON LAWS ARREST, CITED                                    1
            CLEARED-CONTACT JUVENILE FOR MORE INFO           3
            JUVENILE BOOKED                                 65
            NONE                                           432
            UNFOUNDED                                        7

[197 rows x 1 columns]